@import 'tailwindcss';

@import '@skeletonlabs/skeleton';
@import '@skeletonlabs/skeleton/optional/presets';
@import '@skeletonlabs/skeleton/themes/cerberus';

@source '../node_modules/@skeletonlabs/skeleton-svelte/dist';

@theme {}

/* Add these after your imports in src/app.css */
:root {
  /* Define variables for header and layout */
  --header-height: 4rem;
  --header-mb: 0;
  --header-position: sticky;
  --header-inner-position: sticky;
}

/* Base HTML/Body styles */

/* Define basic background color utilities *

/* Custom layer for components */
@layer components {}

